* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.o-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem;
}

.o-container > * + * {
    margin-top: 1rem;
}

.o-form-group {
    display: flex;
    flex-direction: column;
}

.c-label {
    margin-bottom: 0.25rem;
}

.c-input,
.c-select,
.c-output {
    flex-grow: 1;
    padding: 2px 4px;
}

.c-output {
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
}
